API_URL=http://localhost:3001
INSTANCE_DOMAIN=api.topia.io
INSTANCE_PROTOCOL=https
INTERACTIVE_KEY=
INTERACTIVE_SECRET=
NODE_ENV=development

# These asset IDs are in .env so that we can easily use the same code on some other instance of Topia
CUSTOM_TEXT=rXLgzCs1wxpx96YLZAN5
START_BUTTON=Ko56CkYjFvL4IWm27ISX
CROWN=cg59i7M6mabAobm1k6Hr
BLUE_X=PjccgK9hiv5ZDB8vT2vK"
BLUE_O=Am6s8MRzIp4C137hg7Kf"
RED_X=nD7Pfmo2g1GgQF2iUmBm"
RED_O=ROP9HIdZJ8JRYAyn4oVi"
V_RED_LINE=pQ3jvnTgTisZyc7afkGn"
V_BLUE_LINE=JfwQRPt3P28XSgfMyf6I"
H_RED_LINE=UiVUWcClHSsblbTfYEMd"
H_BLUE_LINE=MhfEecToW83Nh3nVnX7F"
O_RED_LINE=L2Cid8H4cVC56Z629qC4
O_BLUE_LINE=ULzKociCJWXrISpisMxl
P1_STAND=kDprIO2lDDTwkjuT7QxX
P2_STAND=buwykWfqblLWeLpMqSLJ
GAME_BOARD=Ck0Uoin05j5KBFajdJ9l
